/* color scheme: http://paletton.com/#uid=52T0G0kl7m0aAx-fXrhq5h8vubF */

html {
	font-family: 'PT Sans', 'Segoe UI', Optima, Tahoma, Geneva, sans-serif;
	font-size: 62.5%;
	color: #333;
	background-color: #CCC;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	min-height: 100%;
	min-width: 320px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1.4rem;
	}
}

h1, h3, h4 {
	font-family: 'PT Serif', Baskerville, Georgia, serif;
	font-weight: 700;
}
header {
	background-color: #4C6E8D;
	color: white;
}
h1 {
	margin: 0;
}
.logo {
	display: block;
}
header,
section {
	padding: 1.5rem 3rem;
}

.content-container {
	flex: 1;
	display: flex;
 	flex-wrap: wrap; 
}
section {
	flex: 1;
}
#instructions {
	min-width: 250px;
}
#results {
	min-width: 320px;
	background-color: #FFF;
}

h2 {
	margin: 0.8rem 0;
	font-size: inherit;
	text-transform: uppercase;
}
h3 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
h4 {
	margin: 0.8rem 0;
}

.errors {
	position: absolute;
}
.form-message {
	max-width: 30rem;
	padding: 0.2rem 2rem;
	margin-top: 1rem;
	border-top: 2px solid #282;
	background-color: #AEA;
}
.form-message p,
.form-message pre {
	margin: 0.5rem 0;
}
.form-error {
	border-top-color: #F00;
	background-color: #FCC;
}
.pre-wrap {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word;
}

.appearance-textfield {
	background-color: #FFF;
	width: 8rem;
	border: 1px solid #4C6E8D;
	font: inherit;
	resize: none;
}
.appearance-textfield:disabled {
	background-color: #EEE;
}

button {
	padding: .8rem 1.6rem;
	background-color: #4C6E8D;
	border: none;
	color: white;
	font-size: 1.8rem;
	font-family: inherit;
	cursor: pointer;
}
.full-width {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.icon-button {
	float: right;
	padding: 0 0.8rem;
	background: none;
	color: #333;
}

.rowbox-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.rowbox-box {
	flex: 1 0;
	min-width: 15rem;
	max-width: 30rem;
	padding: 0 1.6rem;
	margin: 0.8rem;
	background-color: aliceblue;
}
.rowbox-wide {
	min-width: 20rem;
}
.rowbox-content {
	margin: 0.8rem 0;
}
.rowbox-content p {
	margin: 0.8rem 0;
}

.stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.stats-list li {
	background-color: lightblue;
	padding: 0.4rem 0.8rem;
	margin: .8rem 0;
	box-sizing: border-box;
	border-bottom: 2px solid steelblue;
}
.stats-list-dashed li {
	border-bottom-style: dashed;
}
.stat {
	font-size: 2rem;
}

#results {
	display: flex;
	flex-direction: column;
}
#chart {
	width: 100%;
	min-height: 330px;
	background-color: #FFFFFF;
	flex: 1;
}

footer {
	padding: .8rem 1rem;
}
footer p {
	margin: .8rem 0;
	text-align: center;
}
footer a {
	color: inherit;
}

.hide-steppers::-webkit-inner-spin-button,
.hide-steppers::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

[v-cloak] {
	display: none;
}
