/* color scheme: http://paletton.com/#uid=52T0G0kl7m0aAx-fXrhq5h8vubF */

html {
	font-family: 'PT Sans', sans-serif;
	font-size: 62.5%;
	color: #333;
	background-color: #CCC;
	height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size: 1.6rem;
	min-height: 100%;
	min-width: 320px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1.4rem;
	}
}

h1, h2, h3 {
	font-family: 'PT Serif', sans-serif;
	font-weight: 700;
}
header {
	background-color: #4C6E8D;
	color: white;
	padding: 1.5rem 3rem;
}
h1 {
	margin: 0;
}
.logo {
	display: block;
}

.content-container {
	flex: 1;
	display: flex;
 	flex-wrap: wrap; 
}
section {
	flex: 1;
	padding: 1.5rem;
}
#instructions {
	min-width: 250px;
}
#results {
	min-width: 320px;
	background-color: #FFF;
}

h2 {
	margin: 0.5rem 0;
}

.form-field {
	margin: .8rem 0;
}
#raw-data {
	width: 100%;
	background-color: transparent;
	border: 1px solid #4C6E8D;
	resize: none;
}

#submit {
	background-color: #4C6E8D;
	border: none;
	color: white;
}
button {
	padding: .8rem 1.6rem;
	font-size: 1.8rem;
	font-family: inherit;
}

.stats-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.stats-box {
	flex: 1 0;
	min-width: 20rem;
	max-width: 25rem;
	padding: 0 1em;
	margin: .8rem;
	background-color: aliceblue;
}
.stats-box h3,
.stats-box p {
	margin: .8rem 0;
}

.stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.stats-list li {
	background-color: lightblue;
	padding: 0.4rem 0.8rem;
	margin: .8rem 0;
	box-sizing: border-box;
	border-bottom: 2px solid steelblue;
}
.stats-box:last-child li {
	border-bottom-style: dashed;
}
.stat {
	font-size: 2.4rem;
}

#results {
	display: flex;
	flex-direction: column;
}
#chart {
	width: 100%;
	min-height: 350px;
	background-color: #FFFFFF;
	flex: 1;
}

footer {
	padding: .8rem 1rem;
}
footer p {
	margin: .8rem 0;
	text-align: center;
}
footer a {
	color: inherit;
}

.hide-steppers::-webkit-inner-spin-button,
.hide-steppers::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}