/* color scheme: http://paletton.com/#uid=52T0G0kl7m0aAx-fXrhq5h8vubF */

@import 'variables';

html {
	font-family: $font-sans-serif;
	font-size: 10/16 * 100%; // Make 1rem == 10px on typical browsers
	color: $color-ink;
	background-color: #D7E4D6;
	height: 100%;
}

body {
	margin: 0;
	font-size: 1.6rem;
	height: 100%;
	min-width: 320px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1.4rem;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

h3,
h4 {
	font-family: $font-serif;
	font-weight: 700;
}
header {
	background-color: $color-primary;
	color: $color-white;
}
h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 2rem;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: inherit;
	}
}
.logo {
	vertical-align: top;
}
.logo-beta {
	font-weight: normal;
}
header,
section {
	padding: 1.5rem 3rem;
}

.content-container {
	flex: 1;
	display: flex;
 	flex-wrap: wrap; 
}
section {
	flex: 1;
}
.section-bg-white {
	background-color: $color-white;
}
#instructions {
	min-width: 250px;
}
#results {
	min-width: 320px;
}

h2 {
	margin: 0.8rem 0;
	font-size: inherit;
	text-transform: uppercase;
	color: #555;
}
h3 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
h4 {
	margin: 0.8rem 0;
}

.errors {
	position: absolute;
}
.form-message {
	max-width: 30rem;
	padding: 0.2rem 2rem;
	margin-top: 1rem;
	border-top: 3px solid $color-message;
	background-color: scale-color($color-message, $lightness: 50%);

	p,
	pre {
		margin: 0.5rem 0;
	}
}
.form-error {
	border-top-color: $color-error;
	background-color: scale-color($color-error, $lightness: 50%);
}
.pre-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.appearance-textfield {
	appearance: none;
	padding: 0.2rem 0.4rem;
	background-color: $color-white;
	width: 8rem;
	border: $size-border solid $color-primary;
	font: inherit;
	resize: none;
	border-radius: 0;
	overflow-x: hidden; // Firefox adds extra space for a scrollbar

	&:disabled {
		border-color: scale-color($color-primary, $saturation: -50%, $lightness: 30%);
		background-color: #EEE;
		color: #555;
	}
}

button {
	padding: 0.8rem 1.6rem;
	background: none;
	border: none;
	color: $color-ink;
	font-size: 1.8rem;
	font-family: inherit;
	cursor: pointer;
}
.button {
	background-color: $color-primary;
	border: $size-border solid transparent;
	color: $color-white;
	transition-property: border-color, color, background-color;
	transition-duration: 0.2s;

	&:hover {
		border-color: $color-primary;
		color: $color-primary;
		background-color: $color-white;
	}
}
.full-width {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.icon-button {
	padding: 0.4rem 0.8rem;
	font-size: inherit;
	color: #555;

	&:disabled {
		color: #999;
		cursor: default;
	}
}
.float-right {
	float: right;
}

.flatlist {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 0.8rem;
	}
}

.tab {
	font-size: inherit;
	background-color: #EEE;

	&.tab-active {
		background-color: $color-white;
	}
}
.tabs-content {
	padding: 1.6rem;
	background-color: $color-white;

	ol {
		margin: 0;
		padding-left: 2.4rem;
	}
}

kbd {
	padding: 0.1rem 0.4rem;
	background-color: #EEE;
	border: 1px solid #AAA;
	border-radius: 0.4rem;
	white-space: nowrap;
	font: inherit;
	font-size: 0.8em;
}

a {
	color: $color-royalblue;
}

.rowbox-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.rowbox-box {
	flex: 1 0;
	min-width: 15rem;
	max-width: 30rem;
	padding: 0 1.6rem;
	margin: 0.8rem;
	background-color: $color-white;
}
.section-bg-white .rowbox-box {
	background-color: #E7FFE8;
}
.rowbox-wide {
	min-width: 20rem;
}
.rowbox-content {
	&,
	p,
	pre {
		margin: 0.8rem 0;
	}
}

.stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0.8rem 0;

	li {
		padding: 0.4rem;
		box-sizing: border-box;
		border-bottom: 2px solid $color-graphlines;
	}
}
.stats-list-dashed li {
	border-bottom-style: dashed;
}
.stat {
	font-size: 2rem;
}

#results {
	display: flex;
	flex-direction: column;
}
#chart {
	width: 100%;
	min-height: 330px;
	background-color: $color-white;
	flex: 1;
}

footer {
	padding: 0.8rem 1rem;

	p {
		margin: 0.8rem 0;
		text-align: center;
	}
	a {
		color: inherit;
	}
}

.hide-steppers {
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
}

[v-cloak] {
	display: none;
}
