// Colors
$color-ink:        #070B1C;
$color-white:      #FFFFFF;
$color-rose:       #F45B69;
$color-green:      #27BC68;
$color-royalblue:  #005DBA;

$color-primary:    $color-green;
$color-error:      $color-rose;
$color-message:    change-color($color-error, $hue: hue($color-royalblue));

$color-graph-primary:   steelblue;
$color-graph-secondary: $color-rose;

// Fonts
$font-sans-serif: 'PT Sans', 'Segoe UI', Optima, Tahoma, Geneva, sans-serif;
$font-serif:      'PT Serif', Baskerville, Georgia, serif;

// Sizes
$size-border: 1.5px;

// Transitions
$transition-fast: 0.2s;
