@import 'variables';
$rowbox-margin: 0.8rem;

html,
body {
    height: 100%;
}

body {
    min-width: 320px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content-container {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
}

section {
	flex: 1;
	min-width: 300px;
}

.rowbox-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 (-$rowbox-margin);

	> .card {
		flex: 1 0;
		margin: $rowbox-margin;
	}
}
