@import 'variables';
@import 'highcharts-theme';

@media screen and (max-width: 400px) {
	.hide-below-s {
		display: none;
	}
}

html {
	font-family: $font-sans-serif;
	font-size: 10/16 * 100%; // Make 1rem == 10px on typical browsers
	color: $color-ink;
	background-color: #D7E4D6;
	height: 100%;
}

body {
	margin: 0;
	font-size: 1.6rem;
	height: 100%;
	min-width: 320px;
}

@media screen and (max-width: 600px) {
	body {
		font-size: 1.4rem;
	}
}

@media screen and (min-width: 720px) {
	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.content-container {
		flex: 1;
		display: flex;
	}

	section {
		flex: 1;
		height: 100%;
		box-sizing: border-box;
		overflow: auto;
	}
}

h3,
h4 {
	font-family: $font-serif;
	font-weight: 700;
}
header {
	background-color: $color-primary;
	color: $color-white;
	display: flex;
	flex-wrap: wrap;

	@media screen and (max-width: 660px) {
		& {
			display: block;
		}

		.header-links a {
			display: block;
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
		}

		.header-links-text {
			margin: 0;
		}
	}
}
h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 2rem;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: inherit;
	}
}

.padding-base {
	padding: $size-page-padding-vertical $size-page-padding-horizontal;
}

.section-bg-white {
	background-color: $color-white;
}

h2 {
	margin: 0.8rem 0;
	font-size: inherit;
	text-transform: uppercase;
	color: #555;
}
h3 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
h4 {
	margin: 0.8rem 0;
}

.color-behind {
	color: $color-rose;
}
.color-ahead {
	color: $color-green;
}

.errors {
	position: absolute;
}

.pre-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.appearance-textfield {
	appearance: none;
	padding: 0.2rem 0.4rem;
	background-color: $color-white;
	width: 8rem;
	border: $size-border solid $color-primary;
	font: inherit;
	resize: none;
	border-radius: 0;
	overflow-x: hidden; // Firefox adds extra space for a scrollbar
	box-shadow: none;

	&:disabled {
		border-color: scale-color($color-primary, $saturation: -50%, $lightness: 30%);
		background-color: #EEE;
		color: #555;
		opacity: 1;
	}

	&:not(:placeholder-shown):invalid {
		border-color: $color-error;
	}
}

button {
	padding: 0.8rem 1.6rem;
	background: none;
	border: none;
	color: $color-ink;
	font-size: 1.8rem;
	font-family: inherit;
	cursor: pointer;
}
.button {
	background-color: $color-primary;
	border: $size-border solid transparent;
	color: $color-white;
	transition-property: border-color, color, background-color;
	transition-duration: $transition-fast;

	&:hover,
	&:focus {
		border-color: $color-primary;
		color: $color-primary;
		background-color: $color-white;
	}
}
.full-width {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.icon-button {
	padding: 0.4rem 0.8rem;
	font-size: inherit;
	color: #555;

	&:disabled {
		color: #999;
		cursor: default;
	}
}
.float-right {
	float: right;
}

.flex-grow {
	flex-grow: 1;
}

.flatlist {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 0.8rem;
	}
}

.tab {
	font-size: inherit;
	background-color: #EEE;
	border-top: $size-line solid transparent;

	&.tab-active {
		background-color: $color-white;
		border-top-color: $color-primary;
	}

	&:focus {
		outline: none;
		border-top-color: grayscale($color-primary)
	}
}
.tabs-content {
	padding: 1.6rem;
	background-color: $color-white;

	ol {
		margin: 0;
		padding-left: 2.4rem;
	}
}

kbd {
	padding: 0.1rem 0.4rem;
	background-color: #EEE;
	border: 1px solid #AAA;
	border-radius: 0.4rem;
	white-space: nowrap;
	font: inherit;
	font-size: 0.8em;
}

a {
	color: $color-royalblue;
}

.rowbox-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin: 0 -0.8rem;
}
.rowbox-box {
	flex: 1 0;
	min-width: 15rem;
	max-width: 30rem;
	padding: 0 1.6rem;
	margin: 0.8rem;
	background-color: $color-white;
}
.section-bg-white .rowbox-box {
	background-color: #E7FFE8;
}
.rowbox-wide {
	min-width: 20rem;
}
.rowbox-content {
	&,
	p,
	pre {
		margin: 0.8rem 0;
	}
}

.logo {
	vertical-align: top;
}
.logo-beta {
	font-weight: normal;
}

$header-links-padding-horizontal: 1.6rem;
.header-links {
	padding: 0 ($size-page-padding-horizontal - $header-links-padding-horizontal);
	text-align: right;

	li {
		height: 100%;
		margin: 0;
	}

	a {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 1.6rem;
		color: $color-white;
		text-decoration: none;
		transition: all $transition-fast;

		@media screen and (max-width: 750px) {
			& {
				padding-right: 0.8rem;
				padding-left: 0.8rem;
			}
		}

		&:hover,
		&:focus {
			outline: none;
			box-shadow: inset 0 -3px 0 0 $color-white;
			background-color: change-color($color-white, $alpha: 0.1);
		}
	}
}
.header-links-text {
	margin-left: 0.8rem;
}

.stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0.8rem 0;

	li {
		padding: 0.4rem;
		box-sizing: border-box;
		border-bottom: $size-line solid $color-graph-primary;
	}
}
.stats-list-dashed li {
	border-bottom-style: dashed;
}
.stat {
	font-size: 2rem;
}

#results {
	display: flex;
	flex-direction: column;
}
#chart {
	width: 100%;
	min-height: 330px;
	background-color: $color-white;
	flex: 1;
}

footer {
	p {
		margin: 1.6rem 0;
		font-size: 0.8em;
	}
}

.hide-steppers {
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
}
