@import 'variables';
@import 'layout';
@import 'highcharts-theme';

@media screen and (max-width: 400px) {
	.hide-below-s {
		display: none;
	}
}

html {
	font-family: $font-sans-serif;
	font-size: $font-size-root;
	color: $color-ink;
	background-color: #D7E4D6;
	scroll-behavior: smooth;

	@media screen and (max-width: 600px) {
		font-size: 14/16 * $font-size-root;
	}
}

body {
	margin: 0;
	font-size: 1.6rem;
}

h3,
h4 {
	font-family: $font-serif;
	font-weight: 700;
}
header {
	background-color: $color-primary;
	color: $color-white;
	display: flex;
	flex-wrap: wrap;

	@media screen and (max-width: 700px) {
		& {
			display: block;
		}

		.header-links a {
			display: block;
			padding-top: 0.8rem;
			padding-bottom: 0.8rem;
		}

		.header-links-text {
			margin: 0;
		}
	}
}
h1 {
	margin: 0;
	font-size: 2rem;
	line-height: 2rem;

	a {
		display: inline-block;
		color: inherit;
		text-decoration: inherit;
	}
}

.padding-base {
	padding: $size-page-padding-vertical $size-page-padding-horizontal;
}

.section-bg-white {
	background-color: $color-white;
}

h2 {
	margin: 0.8rem 0;
	font-size: inherit;
	text-transform: uppercase;
	color: #555;
}
h3 {
	margin: 0.5rem 0;
	font-size: 2.4rem;
}
h4 {
	margin: 0.8rem 0;
}

.color-error {
	color: $color-rose;
}
.color-behind {
	@extend .color-error
}
.color-ahead {
	color: $color-green;
}

.errors {
	position: absolute;
	padding-left: 1.6rem;
	z-index: 99;
}
.errors-above {
	bottom: 100%;
}

.pre-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.appearance-textfield {
	appearance: none;
	padding: 0.2rem 0.4rem;
	background-color: $color-white;
	width: 8rem;
	border: $size-border solid $color-primary;
	font: inherit;
	resize: none;
	border-radius: $border-radius;
	overflow-x: hidden; // Firefox adds extra space for a scrollbar
	box-shadow: none;

	&:disabled {
		border-color: scale-color($color-primary, $saturation: -50%, $lightness: 30%);
		background-color: #EEE;
		color: #555;
		opacity: 1;
	}

	&:not(:placeholder-shown):invalid {
		border-color: $color-error;
	}
}

button {
	padding: 0.8rem 1.6rem;
	background: none;
	border: none;
	color: $color-ink;
	font-size: 1.8rem;
	font-family: inherit;
	cursor: pointer;
}
.button {
	background-color: $color-primary;
	border: $size-border solid transparent;
	color: $color-white;
	border-radius: $border-radius;
	transition-property: border-color, color, background-color;
	transition-duration: $transition-fast;

	&:hover,
	&:focus {
		border-color: $color-primary;
		color: $color-primary;
		background-color: $color-white;
	}
}
.full-width {
	box-sizing: border-box;
	display: block;
	width: 100%;
}
.icon-button {
	padding: 0.4rem 0.8rem;
	font-size: inherit;
	color: #555;

	&:disabled {
		color: #999;
		cursor: default;
	}
}
.float-right {
	float: right;
}

.flex-grow {
	flex-grow: 1;
}

.flatlist {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin: 0 0.8rem;
	}
}

.tab {
	font-size: inherit;
	background-color: #EEE;
	margin: 0;
	position: relative;
	overflow: hidden;
	border-radius: $border-radius $border-radius 0 0;

	&.tab-active {
		background-color: $color-white;

		&::before {
			background-color: $color-primary;
			height: $size-line;
		}
	}

	&::before {
		content: "";
		position: absolute;
		background-color: grayscale($color-primary);
		height: 0;
		left: 0;
		right: 0;
		top: 0;
		transition: height $transition-fast;
	}

	&:hover,
	&:focus {
		outline: none;

		&::before {
			height: $size-line;
		}
	}
}
.tabs-content {
	padding: 1.6rem;
	background-color: $color-white;
	border-radius: $border-radius;

	ol {
		margin: 0;
		padding-left: 2.4rem;
	}
}

ol.fancylist {
	list-style: none;
	padding: 0;
	counter-reset: fancylist-counter;

	li {
		counter-increment: fancylist-counter;
		border-top: $size-border solid $color-secondary;
		padding-left: 3.2rem;
		position: relative;
		margin: 1.2rem 0;

		&::before {
			content: counter(fancylist-counter);
			width: 2.4rem;
			position: absolute;
			left: 0;
			font-weight: 700;
			font-size: 1.8rem;
			color: $color-white;
			text-align: center;
			background-color: $color-secondary;
		}
	}
}

kbd {
	padding: 0.1rem 0.4rem;
	background-color: #EEE;
	border: 1px solid #AAA;
	border-radius: 0.4rem;
	white-space: nowrap;
	font: inherit;
	font-size: 0.8em;
}

a {
	color: $color-royalblue;
}

.logo {
	vertical-align: top;
}
.logo-beta {
	font-weight: normal;
}

$header-links-padding-horizontal: 1.6rem;

.header-links {
	padding: 0 ($size-page-padding-horizontal - $header-links-padding-horizontal);
	text-align: right;

	li {
		height: 100%;
		margin: 0;
	}

	a {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 1.6rem;
		color: $color-white;
		text-decoration: none;
		transition: background-color $transition-fast;

		@media screen and (max-width: 750px) {
			& {
				padding-right: 0.8rem;
				padding-left: 0.8rem;
			}
		}

		&::after {
			content: "";
			position: absolute;
			background-color: $color-white;
			height: $size-line;
			left: 0;
			right: 100%;
			bottom: 0;
			transition: right $transition-fast;
		}

		&:hover,
		&:focus {
			outline: none;
			background-color: change-color($color-white, $alpha: 0.1);

			&::after {
				right: 0%;
			}
		}
	}
}
.header-links-text {
	margin-left: 0.8rem;
}

.stats-list {
	list-style-type: none;
	padding: 0;
	margin: 0.8rem 0;

	li {
		padding: 0.4rem 0;
		box-sizing: border-box;
		border-bottom: $size-line solid $color-graph-primary;
	}
}
.stats-list-dashed li {
	border-bottom-style: dashed;
}
.stat {
	font-size: 2rem;
}

#results {
	display: flex;
	flex-direction: column;
}
#chart {
	width: 100%;
	min-height: 330px;
	background-color: $color-white;
	flex: 1;
}

footer {
	p {
		margin: 1.6rem 0;
		font-size: 0.8em;
	}
}

.loader {
	text-align: center;
	font-size: 2rem;
	margin: 6.4rem;
}

.hide-steppers {
	appearance: textfield;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		appearance: none;
		margin: 0;
	}
}
